<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div>
<div id="divHeaderGuest">
    <nav>
        <ul >
            <li routerLinkActive="active">
                <a  [routerLink]="['/supplier-homepage']" > <i class="material-icons">person</i>
                    <p style="color: green; font-weight: 500;">My profile</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="['/all-orders']" > <i class="material-icons">article</i>
                    <p style="color: green; font-weight: 500;">Orders</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="['/all-offers']" > <i class="material-icons">article</i>
                    <p style="color: green; font-weight: 500;">Offers</p>
                </a>
            </li>
        </ul>
    </nav>
</div>	
<div>
    <h1 style="color: rgb(100, 98, 216);"> All orders</h1>

    <div  *ngIf="previewOrderItems" >
        <table class="table">
            <thead class="text-success">
               <th>Id</th>
                <th>Name </th>
                <th>Amount </th>
            </thead>
            <tbody>
                <tr *ngFor='let i of orderItems'>
                    <td >{{i.medicine.id}}</td>
                     <td >{{i.medicine.name}}</td>
                     <td>{{i.amount}}</td>
                 </tr>
            </tbody>
        </table>
    </div>
    <div  *ngIf="previewOffer" >
        <div class="col-md-6 offset-md-3">
            <h2>Write offer</h2>
            <form  #registrationForm="ngForm" (ngSubmit)="sendOffer()">
              <div class="form-group">
                  <label>Total price:</label>
                  <input type="number" class="form-control"  
                    #t="ngModel" name="t" [(ngModel)]="offer.totalPrice"/>
                    <label>Delivery date:</label>
                  <input type="date" class="form-control"  
                    #d="ngModel" name="d" [(ngModel)]="offer.deliveryDate"/>
              </div>
                
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" >Send</button>                     
                 </div>
            </form>
        </div>
    </div>
     
     <div class="card-content table-responsive table-full-width">
         <table class="table">
             <thead class="text-success">
                <th>Pharmacy</th>
                 <th>Time limit </th>
                 <th>Status</th>
             </thead>
             <tbody>
                 <tr *ngFor='let o of orders'>
                    <td >{{o.pharmacyName}}</td> 
                     <td>{{o.timeLimit}}</td>
                     <td>{{o.orderStatus}}</td>
                     <td><button (click)="seeItems(o)">See items</button></td>
                     <td><button (click)="writeOffer(o)">Write offer</button></td>
                 </tr>
                
             </tbody>
         </table>
     </div>
 </div>
</div>
