<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div>
    
        <ul>
            
            <li routerLinkActive="active" >
                <a [routerLink]="['/define-discount']" >Define promotion
                
                </a>


            </li>

            
                <li routerLinkActive="active" >
                    <a [routerLink]="['/dermatologist-search']">Dermatologist search</a>
                </li>
            

        </ul>




    


</div>>
