<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div >
<div id="divHeaderGuest">
    <nav>
        <ul >
            <li routerLinkActive="active">
                <a  [routerLink]="['/system-admin-homepage']" > <i class="material-icons">person</i>
                    <p style="color: green; font-weight: 500;">My profile</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="['/add-pharmacy']" > <i class="material-icons">store</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-pharmacy-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-system-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add system admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-dermatologist']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add dermatologist</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-supplier']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add supplier</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/add-medicine']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">Add medicine</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/admin-all-medicines']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">All medicines</p>
                </a>
            </li>
        </ul>
    </nav>
</div>	
<div>
    <div >
             <div class="col-md-6 offset-md-3">
                 <h2>Add medicine</h2>
                 <form  #registrationForm="ngForm" (ngSubmit)="addMedicine()">
                   <div class="form-group">
                       <label>Id</label>
                       <input type="text" class="form-control"  
                         #id="ngModel" name="id" [(ngModel)]="newMedicine.id"/>
                   </div>
                   <div class="form-group">
                       <label>Name</label>
                       <input type="text"  class="form-control" 
                          #name="ngModel" name="name" [(ngModel)]="newMedicine.name"/>
                   </div>
                     <div class="form-group">
                         <label>Type</label>
                         <div class="form-group">
                            <select name="type" #type="ngModel" [(ngModel)]="newMedicine.type" >
                                <option value="ANTIBIOTIC">Antibiotic</option>
                                <option value="ANTIHISTAMINE">Antihistamine</option>
                                <option value="ANESTHETIC">Anesthetic</option>
                                <option value="ANALGETIC">Analgetic</option> 
                                <option value="ANTISEPTICS">Antiseptic</option>
                            </select>
                        </div>
                     </div>
                     <div class="form-group">
                       <label>Form</label>
                       <div class="form-group">
                        <select name="form" #form="ngModel" [(ngModel)]="newMedicine.form" >
                            <option value="TABLET">Tablet</option>
                            <option value="SYRUP">Syrup</option> 
                            <option value="CAPSULES">Capsules</option> 
                            <option value="DROPS">Drops</option>
                        </select>
                    </div>
                   </div>
                   <div class="form-group">
                       <label>Ingredients</label>
                       <input type="text"  class="form-control" 
                          #ingredients="ngModel" name="ingredients" [(ngModel)]="newMedicine.ingredients"/>
                       
                   </div>
                   <div class="form-group">
                       <label>Producer</label>
                       <input type="text"  class="form-control"  
                          #producer="ngModel" name="producer" [(ngModel)]="newMedicine.producer"/>
                       
                   </div>
                     <div class="form-group">
                         <label>Regime</label>
                         <div class="form-group">
                            <select name="regime" #regime="ngModel" [(ngModel)]="newMedicine.regime" >
                                <option value="PRESCRIPTION">With prescription</option>
                                <option value="NO_PRESCRIPTION">Without prescription</option> 
                            </select>
                        </div>
                     </div>
                    
                    <div class="form-group">
                        <label>Additional</label>
                        <input type="text"  class="form-control"  
                           #additional="ngModel" name="additional" [(ngModel)]="newMedicine.additional"/>
                       
                    </div>
        
                    <div class="col-sm-6">
                        <label>Alternatives</label>
                        <div class="form-group">
                        <select name="alt" #alt="ngModel" [(ngModel)]='alternatives'  multiple>
                            <option *ngFor="let m of medicines" [value]="m.id">{{m.id}} {{m.name}} </option>
                        </select>
                    </div>
                </div>
               
                     <div class="form-group">
                       <button type="submit" class="btn btn-primary" >Add</button>                     
                      </div>
                    
                 </form>
             </div>
         </div>
    
</div>
</div>	  