<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div >
<div id="divHeaderGuest">
    <nav>
        <ul >
            <li routerLinkActive="active">
                <a  [routerLink]="['/system-admin-homepage']" > <i class="material-icons">person</i>
                    <p style="color: green; font-weight: 500;">My profile</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="['/add-pharmacy']" > <i class="material-icons">store</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-pharmacy-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-system-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add system admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-dermatologist']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add dermatologist</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-supplier']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add supplier</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/add-medicine']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">Add medicine</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/admin-all-medicines']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">All medicines</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/loyalty-program']"> <i
                        class="material-icons">article</i>
                    <p style="color: green; font-weight: 500;">Loyalty program</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/complaints']"> <i
                        class="material-icons">article</i>
                    <p style="color: green; font-weight: 500;">Complaints</p>
                </a>
            </li>
        </ul>
    </nav>
</div>	
<div>
    <div >
             <div class="col-md-6 offset-md-3">
                 <h2>Add system admin</h2>
                 <form  #registrationForm="ngForm" (ngSubmit)="register()">
                   <div class="form-group">
                       <label>Name</label>
                       <input type="text" class="form-control"  
                         #firstName="ngModel" name="firstName" [(ngModel)]="newSysAdmin.firstName"/>
                   </div>
                   <div class="form-group">
                       <label>Last name</label>
                       <input type="text"  class="form-control" 
                          #lastName="ngModel" name="lastName" [(ngModel)]="newSysAdmin.lastName"/>
                   </div>
                     <div class="form-group">
                         <label>Mail</label>
                         <input type="text"  class="form-control" 
                            #email="ngModel" name="email" [(ngModel)]="newSysAdmin.email"/>
                         
                     </div>
                     <div class="form-group">
                       <label>Address</label>
                       <input type="text"  class="form-control"  
                         #address="ngModel" name="address" [(ngModel)]="newSysAdmin.address"/>
                       
                   </div>
                   <div class="form-group">
                       <label>City</label>
                       <input type="text"  class="form-control" 
                          #city="ngModel" name="city" [(ngModel)]="newSysAdmin.city"/>
                       
                   </div>
                   <div class="form-group">
                       <label>Telephone</label>
                       <input type="text"  class="form-control"  
                          #telephone="ngModel" name="telephone" [(ngModel)]="newSysAdmin.telephone"/>
                       
                   </div>
                     <div class="form-group">
                         <label>Password</label>
                         <input type="password"  class="form-control"  
                            #password="ngModel" name="password" [(ngModel)]="newSysAdmin.password"/>
                        
                     </div>
                     <div class="form-group">
                       <label>Please repeat your password</label>
                       <input type="password"  class="form-control" name="password1" [(ngModel)]="password1" />       
                   </div>
 
                     <div class="form-group">
                       <button type="submit" class="btn btn-primary" >Register</button>                     
                      </div>
                 </form>
             </div>
         </div>
    
</div>
</div>	  