<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div >
<div id="divHeaderGuest">
    <nav>
        <ul >
            <li routerLinkActive="active">
                <a  [routerLink]="['/system-admin-homepage']" > <i class="material-icons">person</i>
                    <p style="color: green; font-weight: 500;">My profile</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a  [routerLink]="['/add-pharmacy']" > <i class="material-icons">store</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-pharmacy-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add pharmacy admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-system-admin']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add system admin</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-dermatologist']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add dermatologist</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/add-supplier']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Add supplier</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/add-medicine']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">Add medicine</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/admin-all-medicines']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">All medicines</p>
                </a>
            </li>
            
            <li routerLinkActive="active" >
                <a [routerLink]="['/homepage']" (click)="logout()"> <i
                        class="material-icons">power_settings_new</i>
                    <p style="color: green; font-weight: 500;">Logout</p>
                </a>
            </li>
        </ul>
    </nav>
</div>	
<div>
    <h2 style="color: rgb(100, 98, 216);">Profile informations</h2>
    <form (ngSubmit)="editProfile()" >
    
                <div class="form-group">
                    <input type="text"  name="email"  #email="ngModel" [(ngModel)]="user.email" disabled/>
                </div>
        
                <div class="form-group">
                    <input type="text"  name="firstName"  #firstName="ngModel" [(ngModel)]="user.firstName"/>
                </div>
            
                <div class="form-group">
                    <input type="text"  name="lastName"  #lastName="ngModel" [(ngModel)]="user.lastName"/>
                </div>
                <div class="form-group">
                    <input type="text"  name="address"  #address="ngModel" [(ngModel)]="user.address"/>
                </div>
                <div class="form-group">
                    <input type="text"  name="city"  #city="ngModel" [(ngModel)]="user.city"/>
                </div>
           
                <div class="form-group">
                    <input type="text"  name="telephone"  #telephone="ngModel" [(ngModel)]="user.telephone"/>
                </div>
            

        <div>
            <button type="submit" style="color: rgb(85, 82, 230);"  >Edit profile</button>
        </div>
    </form>
    
</div>
</div>	  