<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div>
<div>
    <div>
             <div class="col-md-6 offset-md-3">
                 <h2>Change password</h2>
                 <form  #registrationForm="ngForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text"  class="form-control"  
                          #mail="ngModel" name="mail" [(ngModel)]="passwordChanger.email"/>
                      </div>
                    <div class="form-group">
                        <label>Old password:</label>
                        <input type="password"  class="form-control"  
                          #oldpass="ngModel" name="oldpass" [(ngModel)]="passwordChanger.oldPassword"/>
                      </div>
                     <div class="form-group">
                       <label>New password:</label>
                       <input type="password"  class="form-control"  
                         #pass="ngModel" name="pass" [(ngModel)]="passwordChanger.newPassword"/>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-primary" > Change </button>                     
                       </div>
                 </form>
             </div>
         </div>
    
</div>
</div>	
</body>  