<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div  >
<div id="divHeaderGuest">
    <nav>
        <ul >
            <li routerLinkActive="active">
                <a  [routerLink]="['/login']" > <i class="material-icons">person</i>
                    <p style="color: green; font-weight: 500;">Log in</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/registration']"> <i
                        class="material-icons">person_add</i>
                    <p style="color: green; font-weight: 500;">Register</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  [routerLink]="['/pharmacies']"> <i
                        class="material-icons">store</i>
                    <p style="color: green; font-weight: 500;">Pharmacies</p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/medicines']"> <i
                        class="material-icons">medication</i>
                    <p style="color: green; font-weight: 500;">Medicines</p>
                </a>
            </li>
        </ul>
    </nav>
</div>	
<div>
    <form #userForm="ngForm">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Login</h2>
                <form #loginForm="ngForm"  *ngIf="!submitted" [formGroup]="form">
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                          id="email" name="email" [(ngModel)]="loginModel.email"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                          id="exampleInputPassword1" name="password" [(ngModel)]="loginModel.password"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 3 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button  class="btn btn-primary" (click)="onClickLogin()">Login</button>
                    </div>
                </form>
            </div>
       
    
</div>
  </form>
</div>
</div>	  
